body{
	
	background-color:cyan;
	
}
h1{
	font-family:monotype corsiva;
	font-size:65px;
	color:midnightblue;
	background-color:lime;
	
	
}
p{
	font-family:comic sans ms;
	font-size:30px;
	color:red;
	
}